.root {
  background: var(--tg-theme-background-color);
  border: none;
}

.card {
  background-color: var(--tg-theme-background-color);
}

.header {
  position: relative;

  height: 60px;
  padding: var(--mantine-spacing-md);

  background-color: #018cdb;
  background-image: radial-gradient(
    circle at top,
    transparent 50%,
    var(--tg-theme-background-color) 20%
  );
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 7px 3px;
}

.section {
  padding: var(--mantine-spacing-md);
  border-bottom: 1px solid var(--tg-theme-background-color);
}
